# 12.12.2024

In [4]:
print("hello world")

hello world

The indentation is important in the python

In [15]:
if 5>2:
        print("5 is greater than 2")

5 is greater than 2

Here the problem with the indentation

In [16]:
if 7 < 3:
print ("7 is less than 3")

IndentationError: expected an indented block after 'if' statement on line 1 (3934249402.py, line 2)

#Python Variables
it's not allowed to have in the name:
1) spaces
2) number in the beginning
3) -

In [17]:
x = 5 # number
y = "String"

In [18]:
"""
This is a comment
written in
more than just one line
"""
print("Hello, World!")

Hello, World!

casting the variebles

In [20]:
x1 = int(12)
srt1 = str(134)
float1 = float(123)

In [23]:
print(x1)
print(srt1)
print(float1)
print("-----")
print(type(x1))
print(type(srt1))
print(type(float1))

12
134
123.0
-----
<class 'int'>
<class 'str'>
<class 'float'>

It's possible to decalre variables like that

In [26]:
x, y, z = "Orange", 4, "324"
print(x)
print(y)
print(z)
print(type(x))
print(type(y))
print(type(z))

Orange
4
324
<class 'str'>
<class 'int'>
<class 'str'>

used for unpacking the lists

In [32]:
list = [1,2,3,4]
a,b,c,d = list
print(a)
print(b)
print(c)
print(d)

ValueError: not enough values to unpack (expected 5, got 4)

In [35]:
print('Hello','World') #in java there are no space

Hello World

# Global variables

In [37]:
x = "Global"
def myfunc():
    print("Hello " + x)

myfunc()

Hello Global

In [40]:
x = "Global"
def myfunc2():
    x = "Local"
    print("Hello " + x)
myfunc2()
print(x)

Hello Local
Global

for creation the global variable in the function use global

In [41]:
x = "Global"
def myfunc3():
    global x
    x = "Local"
    print("Hello " + x)
myfunc3()

Hello Local

Python Data Types

In [43]:
x11 = "Hello World"	#str
x12 = 20	#int
x13 = 20.5	#float
x14 = 1j	#complex
x15 = ["apple", "banana", "cherry"]	#list
x16 = ("apple", "banana", "cherry")	#tuple
x17 = range(6)	#range
x18 = {"name" : "John", "age" : 36}	#dict
x19 = {"apple", "banana", "cherry"}	#set
x20 = frozenset({"apple", "banana", "cherry"})	#frozenset
x21 = True	#bool
x22 = b"Hello"	#bytes
x23 = bytearray(5)	#bytearray
x24 = memoryview(bytes(5))	#memoryview
x25 = None	#NoneType

# 13.12.2024

Slacing in the Strings

In [47]:
b = "Slicing the String"
print(b[:3] + " from the beginning until the fourth element")
print(b[1:3])

Sli from the beginning until the fourth element
li

Modifying the String

In [57]:
a = "Hello World"
print(a.upper())
print(a.lower())
a = "    Hello Wolds    "
print(a.strip())
a = "Hello, World"
print(a.split(','))
print(a.replace('H','O'))
print(a)

HELLO WORLD
hello world
Hello Wolds
['Hello', ' World']
Oello, World
Hello, World

# Create the simple project using all already knows from the 12.12.2024 - 14.12.2024 deadline 15.12 evening

Format String F-Strings

In [59]:
age = 27
name = f"Dima age is {age}"
print (name)

Dima age is 27

In [62]:
price = 23
item = f"The car is cost {23:.2f}"
print(item)

The car is cost 23.00

In [64]:
print("We are the so-called \"Vikings\" from the north.")

We are the so-called "Vikings" from the north.

# Python Escape Characters

- **`\'`**
  Single Quote
- **`\\`**
  Backslash
- **`\n`**
  New Line
- **`\r`**
  Carriage Return
- **`\t`**
  Tab
- **`\b`**
  Backspace
- **`\f`**
  Form Feed
- **`\ooo`**
  Octal value
- **`\xhh`**
  Hexadecimal value

# Python String Methods

### Case Manipulation
- **`capitalize()`**
  Converts the first character to upper case.
- **`casefold()`**
  Converts string into lower case.
- **`lower()`**
  Converts a string into lower case.
- **`swapcase()`**
  Swaps cases; lower case becomes upper case and vice versa.
- **`title()`**
  Converts the first character of each word to upper case.
- **`upper()`**
  Converts a string into upper case.

### String Alignment
- **`center()`**
  Returns a centered string.
- **`ljust()`**
  Returns a left justified version of the string.
- **`rjust()`**
  Returns a right justified version of the string.

### Searching and Counting
- **`count()`**
  Returns the number of times a specified value occurs in a string.
- **`find()`**
  Searches the string for a specified value and returns the position where it was found.
- **`index()`**
  Searches the string for a specified value and returns the position where it was found.
- **`rfind()`**
  Searches the string for a specified value and returns the last position where it was found.
- **`rindex()`**
  Searches the string for a specified value and returns the last position where it was found.

### Boolean Checks
- **`isalnum()`**
  Returns `True` if all characters in the string are alphanumeric.
- **`isalpha()`**
  Returns `True` if all characters in the string are alphabetic.
- **`isascii()`**
  Returns `True` if all characters in the string are ASCII characters.
- **`isdecimal()`**
  Returns `True` if all characters in the string are decimals.
- **`isdigit()`**
  Returns `True` if all characters in the string are digits.
- **`isidentifier()`**
  Returns `True` if the string is a valid identifier.
- **`islower()`**
  Returns `True` if all characters in the string are lower case.
- **`isnumeric()`**
  Returns `True` if all characters in the string are numeric.
- **`isprintable()`**
  Returns `True` if all characters in the string are printable.
- **`isspace()`**
  Returns `True` if all characters in the string are whitespaces.
- **`istitle()`**
  Returns `True` if the string follows the rules of a title.
- **`isupper()`**
  Returns `True` if all characters in the string are upper case.

### Modifying Strings
- **`expandtabs()`**
  Sets the tab size of the string.
- **`format()`**
  Formats specified values in a string.
- **`format_map()`**
  Formats specified values in a string.
- **`replace()`**
  Returns a string where a specified value is replaced with another value.
- **`translate()`**
  Returns a translated string.

### Splitting and Joining
- **`join()`**
  Joins the elements of an iterable to the end of the string.
- **`partition()`**
  Returns a tuple where the string is parted into three parts.
- **`rpartition()`**
  Returns a tuple where the string is parted into three parts.
- **`rsplit()`**
  Splits the string at the specified separator and returns a list.
- **`split()`**
  Splits the string at the specified separator and returns a list.
- **`splitlines()`**
  Splits the string at line breaks and returns a list.

### Stripping
- **`strip()`**
  Returns a trimmed version of the string.
- **`lstrip()`**
  Returns a left trim version of the string.
- **`rstrip()`**
  Returns a right trim version of the string.

### Encoding and Padding
- **`encode()`**
  Returns an encoded version of the string.
- **`zfill()`**
  Fills the string with a specified number of `0` values at the beginning.

### Miscellaneous
- **`startswith()`**
  Returns `True` if the string starts with the specified value.
- **`endswith()`**
  Returns `True` if the string ends with the specified value.
- **`maketrans()`**
  Returns a translation table to be used in translations.

## Boolean

In [67]:
print(bool(2124))

True

In [69]:
class myclass():
  def __len__(self):
    return 0

myobj = myclass()
print(bool(myobj))

False

# Python Arithmetic Operators

- **`+` (Addition)**
  Adds two values: `x + y`

- **`-` (Subtraction)**
  Subtracts the second value from the first: `x - y`

- **`*` (Multiplication)**
  Multiplies two values: `x * y`

- **`/` (Division)**
  Divides the first value by the second: `x / y`

- **`%` (Modulus)**
  Returns the remainder of the division: `x % y`

- **`**` (Exponentiation)**
  Raises the first value to the power of the second: `x ** y`

- **`//` (Floor Division)**
  Divides the first value by the second and returns the largest integer less than or equal to the result: `x // y`

# Python Assignment Operators

| Operator | Example       | Same As         | Description / Try it                |
|----------|---------------|-----------------|--------------------------------------|
| `=`      | `x = 5`       | `x = 5`         | Assigns the value `5` to `x`.       |
| `+=`     | `x += 3`      | `x = x + 3`     | Adds `3` to `x`.                    |
| `-=`     | `x -= 3`      | `x = x - 3`     | Subtracts `3` from `x`.             |
| `*=`     | `x *= 3`      | `x = x * 3`     | Multiplies `x` by `3`.              |
| `/=`     | `x /= 3`      | `x = x / 3`     | Divides `x` by `3`.                 |
| `%=`     | `x %= 3`      | `x = x % 3`     | Assigns the remainder of `x / 3`.   |
| `//=`    | `x //= 3`     | `x = x // 3`    | Performs floor division on `x` by `3`. |
| `**=`    | `x **= 3`     | `x = x ** 3`    | Raises `x` to the power of `3`.     |
| `&=`     | `x &= 3`      | `x = x & 3`     | Performs bitwise AND on `x` and `3`. |
| `|=`     | `x |= 3`      | `x = x | 3`     | Performs bitwise OR on `x` and `3`. |
| `^=`     | `x ^= 3`      | `x = x ^ 3`     | Performs bitwise XOR on `x` and `3`. |
| `>>=`    | `x >>= 3`     | `x = x >> 3`    | Right shifts `x` by `3` bits.       |
| `<<=`    | `x <<= 3`     | `x = x << 3`    | Left shifts `x` by `3` bits.        |
| `:=`     | `print(x := 3)` | `x = 3`       | Assigns value `3` to `x` inside an expression. |

# Python Comparison Operators

| Operator | Name                       | Example     | Description / Try it                  |
|----------|----------------------------|-------------|----------------------------------------|
| `==`     | Equal                     | `x == y`    | Returns `True` if `x` is equal to `y`. |
| `!=`     | Not Equal                 | `x != y`    | Returns `True` if `x` is not equal to `y`. |
| `>`      | Greater Than              | `x > y`     | Returns `True` if `x` is greater than `y`. |
| `<`      | Less Than                 | `x < y`     | Returns `True` if `x` is less than `y`. |
| `>=`     | Greater Than or Equal To  | `x >= y`    | Returns `True` if `x` is greater than or equal to `y`. |
| `<=`     | Less Than or Equal To     | `x <= y`    | Returns `True` if `x` is less than or equal to `y`. |

# Python Logical Operators

| Operator | Description                                   | Example                        | Explanation                                   |
|----------|-----------------------------------------------|--------------------------------|-----------------------------------------------|
| `and`    | Returns `True` if both statements are true    | `x < 5 and x < 10`            | Evaluates to `True` if both conditions are met. |
| `or`     | Returns `True` if one of the statements is true | `x < 5 or x < 4`             | Evaluates to `True` if at least one condition is met. |
| `not`    | Reverses the result, returns `False` if the result is true | `not(x < 5 and x < 10)` | Negates the result of the condition.         |
# Python Identity Operators

| Operator   | Description                                           | Example       | Explanation                                           |
|------------|-------------------------------------------------------|---------------|-------------------------------------------------------|
| `is`       | Returns `True` if both variables are the same object  | `x is y`      | Evaluates to `True` if `x` and `y` refer to the same object in memory. |
| `is not`   | Returns `True` if both variables are not the same object | `x is not y` | Evaluates to `True` if `x` and `y` refer to different objects in memory. |

# Python Bitwise Operators

| Operator | Name                  | Description                                                                 | Example   | Explanation                                                   |
|----------|-----------------------|-----------------------------------------------------------------------------|-----------|---------------------------------------------------------------|
| `&`      | AND                   | Sets each bit to `1` if both bits are `1`.                                  | `x & y`   | Performs a bitwise AND operation between `x` and `y`.         |
| `|`      | OR                    | Sets each bit to `1` if one of two bits is `1`.                             | `x | y`   | Performs a bitwise OR operation between `x` and `y`.          |
| `^`      | XOR                   | Sets each bit to `1` if only one of two bits is `1`.                        | `x ^ y`   | Performs a bitwise XOR operation between `x` and `y`.         |
| `~`      | NOT                   | Inverts all the bits.                                                      | `~x`      | Flips all the bits of `x`.                                    |
| `<<`     | Zero fill left shift  | Shifts left by pushing zeros in from the right and letting the leftmost bits fall off. | `x << 2`  | Shifts `x` left by `2` positions.                            |
| `>>`     | Signed right shift    | Shifts right by pushing copies of the leftmost bit in from the left, letting the rightmost bits fall off. | `x >> 2`  | Shifts `x` right by `2` positions.                           |

# 14.12.2024

### Python List

In [71]:
my_list = ['apple', 'banana', 'cherry']

The list is changeable, start from zero, allow duplicates

In [72]:
len(my_list)

3

In [78]:
my_list2 = ['banana', 'cherry', 'apple', 'peach', 'pineapple', 'kiwi']
print(my_list2[1:4]) # 1 is include 4 is not included

['cherry', 'apple', 'peach']

In [79]:
if 'kiwi' in my_list2:
    print("kiwi is in the list")

kiwi is in the list

In [82]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
thislist[1:3] = ["blackcurrant", "watermelon"]
print(thislist)

['apple', 'blackcurrant', 'watermelon', 'orange', 'kiwi', 'mango']

In [86]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
thislist.insert(1, 'peach')
thislist

['apple', 'peach', 'banana', 'cherry', 'orange', 'kiwi', 'mango']

In [90]:
thislist2 = ["apple", "banana", "cherry"]
thislist2.insert(7, 'peach')
thislist2

['apple', 'banana', 'cherry', 'peach']

### Inserting the items in the list

In [91]:
thislist

['apple', 'peach', 'banana', 'cherry', 'orange', 'kiwi', 'mango']

In [92]:
thislist.append(1) # .append add the elements to the end od the list
thislist

['apple', 'peach', 'banana', 'cherry', 'orange', 'kiwi', 'mango', 1]

In [105]:
#Method insert require two values
thislist.insert(4, 123) #
thislist

['apple', 'peach', 'banana', 'cherry', 123, 'kiwi', 'mango', 1]

In [119]:
largeNumbers = [123, 12345, 3245, 234]
thislist.extend(largeNumbers)
thislist

['apple',
 'peach',
 'banana',
 'cherry',
 123,
 'kiwi',
 'mango',
 123,
 12345,
 3245,
 234]

### Deleting the items

In [120]:
thislist

['apple',
 'peach',
 'banana',
 'cherry',
 123,
 'kiwi',
 'mango',
 123,
 12345,
 3245,
 234]

In [123]:
thislist.remove('mango')

ValueError: list.remove(x): x not in list

In [122]:
thislist

['apple', 'peach', 'banana', 'cherry', 123, 'kiwi', 123, 12345, 3245, 234]

In [125]:
# pop(speified element), pop() last element
thislist.pop()
thislist.pop(0)

'apple'

In [126]:
thislist # remove apple and 234

['peach', 'banana', 'cherry', 123, 'kiwi', 123, 12345, 3245]

In [127]:
del thislist[3] # or del thislist it will delete the list completely

In [128]:
thislist

['peach', 'banana', 'cherry', 'kiwi', 123, 12345, 3245]

In [129]:
del thislist

In [130]:
thislist

NameError: name 'thislist' is not defined

In [133]:
thislist = ['peach', 'banana', 'cherry', 'kiwi']
thislist
thislist.clear()
thislist

[]

In the example above we know that `del` function delete the variable but `clear` method delete just the list

List Loop

In [134]:
thislist = ['apple', 'banana', 'cherry']

In [135]:
for i in thislist:
    print(i)

apple
banana
cherry

In [137]:
for x in range(len(thislist)):
    print(thislist[x])

apple
banana
cherry

List Comprehensive

In [140]:
[x for x in thislist]

['apple', 'banana', 'cherry']

In [141]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []

for x in fruits:
  if "a" in x:
    newlist.append(x)

print(newlist)

['apple', 'banana', 'mango']

In [142]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = [x for x in fruits if "a" in x]

print(newlist)

['apple', 'banana', 'mango']

### The Syntax
- #### newlist = `[expression for item in iterable if condition == True]`

In [146]:
#Examples
newlist2 = [x.upper() for x in fruits]
newlist2

['APPLE', 'BANANA', 'CHERRY', 'KIWI', 'MANGO']

In [147]:
newlist3 = [x for x in fruits if "a" in x]
newlist3

['apple', 'banana', 'mango']

### Sorting the list

In [154]:
thislist = ['kiwi','apple', 'cherry', 'kiwi', 'mango','banana']
thislist.sort()
print(thislist)

['apple', 'banana', 'cherry', 'kiwi', 'kiwi', 'mango']

In [155]:
listNumber = [2,5,1,3,6,4,7,8]
listNumber.sort(reverse=True)
print(listNumber)

[8, 7, 6, 5, 4, 3, 2, 1]

In [156]:
def myfunc(n):
  return abs(n - 50)

thislist = [100, 50, 65, 82, 23]
thislist.sort(key = myfunc)
print(thislist)

[50, 65, 23, 82, 100]

In [157]:
thislist = ["banana", "Orange", "Kiwi", "cherry"] # here we have an interesting thing
thislist.sort()
print(thislist)

['Kiwi', 'Orange', 'banana', 'cherry']

In [158]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.sort(key = str.lower)
print(thislist)

['banana', 'cherry', 'Kiwi', 'Orange']

In [159]:
thislist = ["banana", "Orange", "Kiwi", "cherry"] #in the reverse order
thislist.reverse()
print(thislist)

['cherry', 'Kiwi', 'Orange', 'banana']

### Copy a List <br>
#### You cannot copy a list simply by typing `list2 = list1`, because: `list2` will only be a reference to list1, and changes made in `list1` will automatically also be made in `list2`.

In [169]:
my_list = ['banana', 'apple', 'peach']
copy_my_list = my_list.copy()
print(copy_my_list)
my_list.append('mango')
print(copy_my_list)
copy_my_list.append('4')
print(my_list)

['banana', 'apple', 'peach']
['banana', 'apple', 'peach']
['banana', 'apple', 'peach', 'mango']

In [171]:
my_list = ['banana', 'apple', 'peach']
copy_my_list = my_list
my_list.append('mango')
print(copy_my_list)
my_list.append('4')
print(copy_my_list)

['banana', 'apple', 'peach', 'mango']
['banana', 'apple', 'peach', 'mango', '4']

### Join two lists

In [172]:
a = [1,2,3,4]
b = [9,8,7,6]
listAB = a + b
print(listAB)

for x in a:
    b.append(x)
print(b)

[1, 2, 3, 4, 9, 8, 7, 6]
[9, 8, 7, 6, 1, 2, 3, 4]

# Python List Methods

| Method       | Description                                                                  |
|--------------|------------------------------------------------------------------------------|
| `append()`   | Adds an element at the end of the list.                                      |
| `clear()`    | Removes all the elements from the list.                                      |
| `copy()`     | Returns a copy of the list.                                                 |
| `count()`    | Returns the number of elements with the specified value.                    |
| `extend()`   | Adds the elements of a list (or any iterable) to the end of the current list.|
| `index()`    | Returns the index of the first element with the specified value.            |
| `insert()`   | Adds an element at the specified position.                                  |
| `pop()`      | Removes the element at the specified position.                              |
| `remove()`   | Removes the item with the specified value.                                  |
| `reverse()`  | Reverses the order of the list.                                             |
| `sort()`     | Sorts the list.                                                             |